/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border-test {
    border: 1px dashed white;
}
/* HEADER LAYOUT*/  
header {
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: end;
}
#header-section button {
    color: white;
    background-color:rgb(74, 74, 74) ;
    padding: .5rem;
    margin-top: .5rem;
    border-radius: 10px;
}



/* MAIN LAYOUT */
main {
    height: 80vh;
    background-color: black;
}
#main-container {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.main-section {
    width: calc(100% / 7);
    /* height: calc(20% - 4rem); */
    padding: .3rem .1rem;
    position: relative;
}
section.main-section img {
    width: 100%;
}
div.user-mute {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 4px;
    color: rgb(209, 209, 209);
    padding: .4rem;
}



/* FOOTER LAYOUT*/
footer {
    background-color: black;
    height: 12vh;
}