/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border-test {
    border: 1px dashed white;
}
/* HEADER LAYOUT*/  
header {
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: end;
}
#header-section button {
    color: white;
    background-color:rgb(74, 74, 74) ;
    padding: .5rem;
    margin-top: .5rem;
    border-radius: 10px;
}



/* MAIN LAYOUT */
main {
    height: 82vh;
    background-color: black;
}
#main-container {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.main-section {
    width: calc(100% / 7);
    /* height: calc(20% - 4rem); */
    padding: .3rem .1rem;
    position: relative;
}
section.main-section img {
    width: 100%;
}
div.user-mute {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 4px;
    color: rgb(209, 209, 209);
    padding: .4rem;
}



/* FOOTER LAYOUT*/
footer {
    background-color: #222222;
    height: 10vh;
}
.display-flex-footer {
    display: flex;
    justify-content: space-between;
}
footer > * {
    height: 100%;
    color: white;
}
.padding-button-footer {
    padding: .7rem .7rem .4rem;
}
/* Section and nav user function */
.icon-and-description {
    text-align: center;
    height: 100%;
}
.icon{
    font-size: 1.5rem;
}
.button-description{
    font-size: .8rem;
    margin-top: .25rem;
}
.display-flex-footer-button {
    display: flex;
    flex-direction: column;
}
.user-function > * {
    height: 100%;
    float: left;
}
.clearfix ::after {
    content: "";
    display: block;
    clear: both;   
}
div.arrow {
    position: relative;
    font-size: .8rem;
}
div.arrow span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#green-share {
    color: rgb(75, 200, 0);
}
/* Last section end meeting  */
#end-meeting {
    background-color: rgb(74, 74, 74);
    color: red;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



